<div class="d-flex justify-content-center itemblock">

    {{#each data}}

    <div class="card col-sm-3" style="width: 18rem;">
        <form action="/charge" method="POST">
            <img src="{{this.img}}" class="card-img-top imgcard" style="padding: 1em;">
            <div class="card-body">
                <h5 class="card-title">{{this.itemName}}</h5>
                <p class="card-text">€{{this.price}}</p>
                <input type="hidden" name="amount" value="{{this.stripePrice}}"/>
                <input type="hidden" name="description" value="{{this.itemName}}"/>
                <button class="btn btn-primary">Purchase</button>
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="pk_test_YPzM1rbvtJSq1vwb0hI7dCt700oaAD8IhY"
                        data-amount="{{this.stripePrice}}"
                        data-currency="eur"
                        data-name="{{this.itemName}}"
                        data-image="/img/marketplace.png"
                        data-locale="auto">
                </script>
                <script>
                    // Hide default stripe button
                    document.getElementsByClassName('stripe-button-el')[{{@index}}].style.display = 'none';
                </script>
            </div>
        </form>
    </div>
    {{/each}}

</div>